<!--=========== HEADER ===========-->
<header>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a class="1li" href="#">¿Qué hacemos?</a></li>
              <li><a class="2li" href="#">¿Quiénes somos?</a></li>
              <li><a class="3li" href="#">Servicios</a></li>
              <li><a class="4li" href="#">Blog</a></li>
              <li><a class="5li" href="#">Contáctanos</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
<section id="background">
  <div class="container">
    <h1>LOVE</h1>
    <h3>IS THE WAY!</h3>
    <p>Coaching especializado en mujeres..</p>
    <hr>
  </div>
</section>
<article id="que">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <iframe src="https://www.youtube.com/embed/20nAqS9Lwzk?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-12 col-md-6 info">
        <h3 id="queM">¿QUÉ HACEMOS?</h3>
        <hr>
        <p><span>Love is the way,</span> es una iniciativa que busca unir la educación con el entretenimiento a traves de la educación experiencial, ademas buscamos  trabajar en los jovenes principios y valores de manera efectiva y diferente.</p>
      </div>
    </div>
  </div>
</article>
<section id="quienes">
  <div class="container">
    <h3>¿QUIÉNES SOMOS?</h3>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="prueba">
          <h3 id="quienesM">Misión</h3>
          <hr>
          <p>Brinda un acompañamiento en la transformación de la mentalidad de los jóvenes que fortalece una identidad propia desde los valores por medio de una educación experiencial con espacios seductores a través de talleres y asesorías el ser.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="prueba vision">
          <h3>Visión</h3>
          <hr>
          <p>Love is the way será reconocida como una empresa transformadora y acompañante de la población joven del departamento de Antioquía basada en valores que potencializen el SER, soportada por la educación experiencial por medio de talleres y conferencias hacia 7000 jóvenes de Colombia.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="servicios">
  <div class="container">
    <div class="row">
      <h3>SERVICIOS PARA COLEGIOS</h3>
      <hr>
      <ul class="grid" id="grid">
        <li class="empresa1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="bg-color">
            <%= image_tag "servicio_born.jpg"%>
          </div>
          <div class="show-text">
            <span type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
              Baile de Esencia
            </span>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Baile de Esencia</h4>
                  </div>
                  <div class="modal-body">
                    Cada mujer tiene una esencia única y es desde nuestra niñez que vamos descubriendo cúal es ella, sin embargo a veces estamos distraidos y se nos olvida mirar hacia adentro. Esta sesión busca identificar esa esencia a través del coaching y poder inspirarnos y fluir por medio del baile.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="empresa2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="bg-color">
            <%= image_tag "servicio_maquillaje.jpg"%>
          </div>
          <div class="show-text">
            <span type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal2">
              Maquillaje Para el Alma
            </span>

            <!-- Modal -->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Maquillaje Para el Alma</h4>
                  </div>
                  <div class="modal-body">
                    Todas las personas tenemos un propósito de vida que cumplir, el cual podemos identificar a través de metodologias educativas, está sesión nace con el fin de trabajar en ese propósito y combinarlo también con el maquillaje profesional. Las mujeres queremos revelar la belleza y no solo cultivar nuestro interior sino también nuestro exteerior para dar una buena imagen ante el mundo que nos rodea.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="empresa3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="bg-color">
            <%= image_tag "servicio_noche.jpg"%>
          </div>
          <div class="show-text">
            <span type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal3">
              Noche Love
            </span>

            <!-- Modal -->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Novhe Love</h4>
                  </div>
                  <div class="modal-body">
                    Todas las personas tenemos sueñor por cumplir y a vecer creemos que podemos llegar a alcanzarlos solos, pero necesitamos descubrir que para llegar lejos necesitamos un equipo de apoyo y tanto en nuestra adolescencia como en nuestra juventud es la familia el mejor equipo para alcanzar todos y cada uno de nuestros sueños. Esta sesión nace con el fin de trabajar el lazo familiar y en el apoyo de cada uno de sus miembros para alcanzar lo que se propongan.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Button trigger modal -->
    <!-- Button trigger modal -->
    
    <div class="row">
      <h3 id="serviciosM">SERVICIOS EMPRESARIALES</h3>
      <hr>
      <ul class="grid" id="grid">
        <li class="empresa1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="bg-color">
            <%= image_tag "servicio_negociacion.jpg"%>
          </div>
          <div class="show-text">
            <span class="acesco">Taller de negociación</span>
          </div>
        </li>
        <li class="empresa2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="bg-color">
            <%= image_tag "servicio_comunicacion.jpg"%>
          </div>
          <div class="show-text">
            <span class="carel">Comunicación efectiva</span>
          </div>
        </li>
        <li class="empresa3 col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="bg-color">
            <%= image_tag "servicio_empresarial.jpg"%>
          </div>
          <div class="show-text">
            <span class="carrier">Eventos empresariales</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="contactanos">
  <div class="container">
    <div class="row">
      <h3>CONTÁCTANOS</h3>
      <p id="contactanosM">Envianos cualquier inquietud o comentario que tengas</p>
      <hr>
      <div class="col-sm-4 col-md-4">
        <div class="infocont">
          <p>Celular: (57) - (310-451-1012)</p>
          <p>loveistheway17@gmail.com</p>
          <p>Carrera 43A # 17-106</p>
          <p>Medellín - Colombia</p>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 formulario">
        <%= render 'shared/error_messages', object: @message %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <form accept-charset="UTF-8" action="/" id="new_message" method="post" class="new_message contact">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <input type="text" class="form-control" name="message[name]" id="message_name" placeholder="John Stuart" required>
          <input type="email" class="form-control" name="message[email]" id="message_email" placeholder="John@Stuart.com" required>
          <input type="text" class="form-control" name="message[subject]" id="message_subject" placeholder="Subject" required>
          <textarea id="message_body" class="form-control" name="message[body]" rows="7" placeholder="Tengo una idea para un proyecto..." required></textarea>
          <button type="submit" class="btn btn-default">ENVIAR</button>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-9 col-md-9">
        <p>&copy;2015 Love Is The Way. Todos los derechos reservados. Medellin - Colombia. </p>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-3">
        <ul>
          <li><a href="https://www.facebook.com/Love-Is-The-Way-1471167709818201/" target="_blank"><%= image_tag "id_fb.png", :alt => "Facebook"%></a></li>
          <li><a href="#" target="_blank"><%= image_tag "id_insta.png", :alt => "Instagram"%></a></li>
          <li><a href="#" target="_blank"><%= image_tag "id_yt.png", :alt => "Youtube"%></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
